body {
    font-family: Arial, sans-serif;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20230715/pngtree-spooky-halloween-theme-in-3d-rendering-image_3878795.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header {
    font-size: 2em;
    margin-top: 20px;
    color: #ff9933;
}

.quiz-container, .result-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 300px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.option, .start-button {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

#score {
    font-size: 1em;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
